<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhcc.datacage">

    <!-- 推送需要权限 读取手机状态 危险权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 定位需要权限 危险权限 6.0以上需要申请 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 读写sd卡 危险权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity android:name=".activity.MainActivity" />
        <!-- 检查 -->
        <activity android:name=".activity.law.Check_Activity" android:windowSoftInputMode="adjustPan"/>

        <!-- 工作台模块 -->
        <!-- 消息通知 -->
        <activity android:name=".activity.workbench.InfoNotification_Activity" />
        <!-- 我的待办 -->
        <activity android:name=".activity.workbench.MyDoing_Activity"/>
        <!-- 我的已办 -->
        <activity android:name=".activity.workbench.MyDone_Activity"/>
        <!-- 音视频会议 -->
        <activity
            android:name=".activity.workbench.VedioConference_Activity"
            android:windowSoftInputMode="adjustPan" />
        <!-- 待办已办综合查询 -->
        <activity
            android:name=".activity.workbench.IntegrateQuery_Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.law.OrderCorrect_Activity"
            android:windowSoftInputMode="adjustPan" />

        <!-- 协同模块 -->
        <!-- 团队互助 -->
        <activity android:name=".activity.synergy.TeamWork_Activity" />

        <!-- 设置模块 -->
        <!-- 修改密码 -->
        <activity
            android:name=".activity.setting.UpdatePwd_Activity"
            android:windowSoftInputMode="adjustPan" />
        <!-- 推送的Activity -->
        <activity android:name=".client.NotificationDetailsActivity"
            android:label="Notification Details">
        </activity>
        <activity android:name=".client.NotificationSettingsActivity"
            android:label="Notification Settings">
        </activity>
        <service
            android:enabled="true"
            android:exported="true"
            android:name=".client.NotificationService">
        </service>
        <receiver android:name=".client.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>